.tree-element {
    padding-left: 0.5em;
    user-select: none;

    &:hover {
        background-color: #e6e3e3;
    }

    &:focus {
        background-color: #bebebe;
    }

    .fa-folder {
        color: #DCB679;
    }
}

.location-breadcrumb {
    border: 1px black solid;
    padding: 0 10px;
    margin-bottom: 0.5em;
    user-select: none;

    &::before {
        // forces the div to have a height
        content: "\200B";
    }

    .location-segment {
        &:hover {
            cursor: default;
            color: #49A0DB;
        }
    }
}